<div class="date-range-filter col-md-8">
  <div class="form-group">
    <%= label_tag :q_delivery_date_gt, Spree.t(:delivery_date) %>
    <div class="row no-padding-bottom">
      <div class="col-md-6">
        <div class="input-group">
          <%= f.text_field :delivery_date_gt, class: 'datepicker datepicker-from form-control', value: params[:q][:delivery_date_gt], placeholder: Spree.t(:start) %>
          <span class="input-group-addon">
            <i class="icon icon-calendar"></i>
          </span>
        </div>

      </div>
      <div class="col-md-6">
        <div class="input-group">
          <%= f.text_field :delivery_date_lt, class: 'datepicker datepicker-to form-control', value: params[:q][:delivery_date_lt], placeholder: Spree.t(:stop) %>
          <span class="input-group-addon">
            <i class="icon icon-calendar"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>